<div class="container" *ngIf="posts" style="display: grid; grid-template-columns: repeat(5, 1fr); gap: 20px; margin-top: 20px;">
    <div *ngFor="let post of posts" class="card" style="max-width: 500px; margin: 0 auto;">
        <img [src]="post.featuredImageUrl" class="card-img-top" alt="..." style="width: 100%; height: 200px; object-fit: cover;">
        <div class="card-body" style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
          <div>
            <h2 class="card-title">
              {{post.title}}
            </h2>
            <br/>
            <article class="card-text">
              {{post.summary}}
            </article>
            <br/>
          </div>
          <a class="btn btn-primary" [routerLink]="['/blog', post.id]" style="align-self: flex-end;">View Blog Post</a>
        </div>
    </div>
</div>
